<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a tu archivo CSS personalizado -->
    <link rel="stylesheet" href="/src/static/css/contacto.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/src/templates/layout.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">REGISTRO ESTUDIANTIL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/src/templates/layout.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Inicio<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/src/templates/registros.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Registros</a>
                    <a class="nav-item nav-link" href="/src/templates/sobre_nosotros.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Sobre Nosotros</a>
                    <a class="nav-item nav-link" href="/src/templates/terminos.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Términos y Condiciones</a>
                    <a class="nav-item nav-link" href="/src/templates/contacto.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Sección de Contacto -->
    <section class="jumbotron jumbotron-fluid" style="margin: 0px; background: linear-gradient(to right, #E2E2E2, #C9D6FF);">
        <div class="container">
            <h1 class="display-4 text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>Contacto</strong></h1>
            <hr class="my-4">
            <p class="lead text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Si tienes alguna duda o solicitud relacionada con el Registro Estudiantil, no dudes en contactarnos. Estamos aquí para ayudarte con cualquier pregunta que tengas sobre el ingreso, egreso o cualquier otro tema relacionado con el registro.</p>
            <p class="lead text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Puedes enviarnos un correo electrónico a <strong>info@registroestudiantil.com</strong> y estaremos encantados de atenderte.</p>
            <p class="lead text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">¡Esperamos poder resolver tus inquietudes pronto!</p>
        </div>
    </section>

    <!-- Pie de página -->
    <footer class="footer bg-dark text-white text-center">
        <div class="container">
            <p>Derechos de autor © 2024. RegistroEstudiantil.com</p>
            <p>Todos los derechos reservados</p>
        </div>
    </footer>

    <!-- Enlace al archivo JS de Bootstrap y dependencias de jQuery y Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
