<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones de Registro</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a tu archivo CSS personalizado -->
    <link rel="stylesheet" href="/src/static/css/registro_inst.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid bg-gradient">
        <div class="container text-center">
            <h3 class="display-4">Asegúrate de:</h3><br>
            <hr class="my-6">
            <ol class="text-left">
                <li>Completar los campos con tu información personal, académica y de contacto.</li>
                <li>Verificar que los datos ingresados sean correctos antes de enviar el formulario.</li>
                <li>Dar clic en el botón de "Registrarse" para finalizar el proceso.</li>
            </ol><br>
            <a class="btn btn-primary btn-lg" href="/src/templates/registrar.html" role="button">Comenzar registro</a>
        </div>
    </div>
    <!-- Enlace al archivo JS de Bootstrap y dependencias de jQuery y Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
