/* Estilos para la jumbotron con fondo gradiente */
.bg-gradient {
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* Gradiente de fondo */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el título principal */
.display-4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente más moderna */
    color: #141E30;
    margin-bottom: 20px;
}

/* Estilos para la línea divisoria */
.my-6 {
    border-top: 2px solid #141E30;
    margin: 20px auto;
    width: 80%; /* Ancho de la línea divisoria */
}

/* Estilos para el botón */
.btn-primary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente consistente con el título */
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Efecto hover para el botón */
.btn-primary:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}
