<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a tu archivo CSS personalizado -->
    <link rel="stylesheet" href="/src/static/css/terminos.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/src/templates/layout.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">REGISTRO ESTUDIANTIL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/src/templates/layout.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Inicio<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/src/templates/registros.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Registros</a>
                    <a class="nav-item nav-link" href="/src/templates/sobre_nosotros.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Sobre Nosotros</a>
                    <a class="nav-item nav-link" href="/src/templates/terminos.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Términos y Condiciones</a>
                    <a class="nav-item nav-link" href="/src/templates/contacto.html" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contacto</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Sección Términos y Condiciones -->
    <section class="jumbotron jumbotron-fluid" style="margin-bottom: 0px; background: linear-gradient(to right, #E2E2E2, #C9D6FF);">
        <div class="container">
            <h1 class="display-4 text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>Términos y Condiciones</strong></h1>
            <hr class="my-4">
            <p class="lead text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Términos y Condiciones de Registro Estudiantil:</p>
            <ol class="lead" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <li><strong>Aceptación de los términos:</strong> Al utilizar este sitio web, usted acepta cumplir con estos términos y condiciones. Si no está de acuerdo con alguna parte de estos términos, por favor absténgase de utilizar el sitio.</li>
                <li><strong>Registro de estudiantes:</strong> Para acceder a ciertas funciones del sitio, es posible que se requiera que los estudiantes se registren proporcionando información personal como nombre, dirección de correo electrónico, entre otros datos. La información proporcionada debe ser veraz y actualizada.</li>
                <li><strong>Uso de la información:</strong> La información recopilada durante el proceso de registro será utilizada exclusivamente para fines relacionados con la gestión académica y administrativa del estudiante en la base de datos.</li>
                <li><strong>Seguridad de la información:</strong> Nos comprometemos a proteger la información personal de los estudiantes mediante medidas de seguridad adecuadas para evitar accesos no autorizados, pérdidas o alteraciones de datos.</li>
                <li><strong>Responsabilidad del Usuario:</strong> Los estudiantes son responsables de mantener la confidencialidad de sus credenciales de acceso al sitio web y de notificar cualquier uso no autorizado de su cuenta.</li>
                <li><strong>Derechos de Propiedad Intelectual:</strong> Todos los contenidos del sitio web, incluyendo textos, imágenes, logotipos y diseño gráfico, están protegidos por derechos de propiedad intelectual y no pueden ser utilizados sin autorización.</li>
                <li><strong>Modificaciones:</strong> Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Se recomienda revisar periódicamente esta sección para estar al tanto de cualquier cambio.</li>
            </ol>
            <p class="lead text-center mt-4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Al utilizar este sitio web, usted acepta cumplir con estos términos y condiciones. En caso de tener alguna duda o inquietud, por favor contáctenos a través de los canales indicados en el sitio web.</p>
        </div>
    </section>

    <!-- Pie de página -->
    <footer class="footer bg-dark text-white text-center">
        <div class="container">
            <p>Derechos de autor © 2024. RegistroEstudiantil.com</p>
            <p>Todos los derechos reservados</p>
        </div>
    </footer>

    <!-- Enlace al archivo JS de Bootstrap y dependencias de jQuery y Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
